/*
Theme Name: Threshold Wellness
Template: kadence
Theme URI: https://www.wethreshold.com.au
Author: Fardin Ahmed
Author URI: https://github.com/devfardin
Description: Threshold Wellness is a premium, modern WordPress theme built for mobile sauna businesses, wellness brands, and recovery studios. Designed with a clean layout, bold typography, and high-quality visuals, it offers seamless booking integration, responsive design, fast performance, and easy customization. Perfect for businesses offering heat therapy, breathwork, cold exposure, and mobile wellness services.
Version: 1.0
Text Domain: alibimassage
Tags: wellness, sauna, mobile-sauna, recovery, spa, health, minimal, clean, responsive, booking, seo-friendly, business, therapy, modern, premium, cms, vlog, blog, video-support

*/