/* .threshold-container {
    width: 100%;
    padding: 0 20px;
}

.threshold-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 768px) {
    .threshold-container {
        padding: 0 15px;
    }
} */