.threshold-sinlge-post .custom-page-header {
    position: relative;
    height: 550px;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden;
    background-color: #000;
    padding-bottom: 30px;
}
.threshold-sinlge-post .custom-page-title  {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
    line-height: 1.2;
}
.threshold-sinlge-post .blog_post_category_wraper{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.threshold-sinlge-post .blog_post_category {
    font-family: 'Inter', sans-serif;
    background: var(--e-global-color-primary);
    border-radius: 999px;
    padding: 6px 20px;
    font-size: 18px;
    font-weight: 300;
    color: var( --e-global-color-kadence7);
    text-decoration: none;

}
.threshold-sinlge-post .blog_post_info{
    
}