
.threshold-sinlge-post .custom-page-header {
    position: relative;
    height: 600px;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden;
    background-color: #000;
}
