.threshold_studio_container .threshold_studio_wrapper .threshold_studio__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    align-items: top;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

@media only screen and (min-width: 768px) {
    .threshold_studio_container .threshold_studio_wrapper .threshold_studio__row {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media only screen and (min-width: 992px) {
    .threshold_studio_container .threshold_studio_wrapper .threshold_studio__row {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

.threshold_studio__row .threshold_studio__inner_container {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background: rgb(255 255 255);
    border: 1px solid rgb(255 255 255);
    border-radius: 15px;
    transition: 0.3s;
}
.threshold_studio__row .threshold_studio__inner_container:hover{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--e-global-color-primary);
}

.threshold_studio__row .threshold_studio__feature {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.threshold_studio__feature::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: all 0.3s ease;
}
.threshold_studio__feature .wp-post-image{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.threshold_studio__inner_container:hover .wp-post-image {
    transform: scale(1.10);
}

/* Studio info container */
.threshold_studio__inner_container .studio_info_container {
    padding: 15px 20px 20px 20px;
}
.studio_info_container .studio_location_wrapper{
    display: flex;
    align-items: start;
    gap: 8px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
}
.studio_info_container .studio_location_wrapper p{
    padding: 0;
    margin: 0;
}

.studio_info_container .studio_title{
    font-size: 19px;
    line-height: 1.4em;
    font-weight: 600;
    color: var( --e-global-color-text );
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
}
.studio_info_container .studio_content {
    color: var(--e-global-color-kadence4);
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
}
.studio_info_container .studio_content_wrapper p {
    margin: 0;
}
.studio_info_container .studio_features_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin: 20px 0;
}
@media only screen and (min-width: 576px){
    .studio_info_container .studio_features_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
.studio_info_container .studio_features_wrapper .studio_features{
    display: flex;
    align-items: center;
    gap: 8px;
}
.studio_info_container .studio_features_wrapper .studio_features svg{
    background: var(--e-global-color-primary);
    border-radius: 50%;
    padding: 4px;
    width: 20px;
    height: 20px;
    fill: #fff;
}
.studio_info_container .studio_features_wrapper .studio_features span{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    
}

.studio_info_container .studio_author_learn_more_bnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.studio_info_container .learn_more_btn{
    font-size: 16px;
    font-weight: 500;
    color: var(--e-global-color-secondary);
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s;
}
.studio_info_container .learn_more_btn:hover{
    transform: translateX(10px);
}

.studio_info_container .learn_more_btn svg{
    transition: all 0.3s;
}

.studio_navigation {
    margin-top: 30px;
    text-align: center;
}
.studio_navigation a{
    font-size: 20px;
    font-weight: 500;
    color: rgb(48 49 52);
    margin: 0px 10px;
    font-family: 'Inter', sans-serif;
}
.studio_navigation span{
    font-size: 20px;
    font-weight: 500;
    color: var(--e-global-color-primary);
    margin: 0px 10px;
    font-family: 'Inter', sans-serif;
}
.studio_navigation .current {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 10px;
    font-family: 'Inter', sans-serif;
}
.threshold_no_studios_message{
    text-align: center;
    padding: 40px 20px;
}
.threshold_no_studios_message h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--e-global-color-text);
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}
.threshold_no_studios_message p{
    font-size: 18px;
    font-weight: 400;
    color: var(--e-global-color-text);
    margin: 0;
    font-family: 'Inter', sans-serif;
}